In [50]:
import pandas as pd

In [ ]:
# skill = "categorical"
skill = "extractive"
# skill = "mcq"

In [169]:
df = pd.read_csv("inference_time_categorical.csv")
# df = pd.read_csv("inference_time_extractive.csv")
# df = pd.read_csv("")

In [171]:
df.head()

,Unnamed: 0,adapter,reader,model_name,mean_time,median_time,min_time,max_time,mean_time_per_token,median_time_per_token,min_time_per_token,max_time_per_token,runs,time_unique_values,seq_length,context,question,data_id
0,0,drop,bert-base-uncased,Base,129.511690,116.297960,100.482702,190.842867,0.824915,0.740751,100.482702,190.842867,5,"[116.29796028137208, 190.842866897583, 108.004...",157,Hoping to rebound from their loss to the Patr...,Who scored the first touchdown of the game?,f37e81fa-ef7b-4583-b671-762fc433faa9
1,1,drop,bert-base-uncased,Base,118.036652,101.804018,88.285923,202.951193,0.751826,0.648433,88.285923,202.951193,5,"[106.0810089111328, 202.95119285583496, 88.285...",157,Hoping to rebound from their loss to the Patr...,How many field goals did Kris Brown kick?,ac6ba235-3024-4f63-a6ab-730a14def4cb
2,2,drop,bert-base-uncased,Base,127.039289,119.737864,104.492188,150.061131,0.809167,0.762662,104.492188,150.061131,5,"[117.91324615478516, 150.06113052368164, 104.4...",157,Hoping to rebound from their loss to the Patr...,Which team won the game?,2c7c93f6-69ed-47cc-a5af-94a00c185a26
3,3,drop,bert-base-uncased,Base,119.862890,109.892130,100.628376,161.371231,0.763458,0.699950,100.628376,161.371231,5,"[119.31896209716795, 161.37123107910156, 109.8...",157,Hoping to rebound from their loss to the Patr...,How many field goals did both teams kick in th...,7dfd2b64-f39e-4bb4-aeb0-1900adda6018
4,4,drop,bert-base-uncased,Base,111.079550,109.916925,101.395845,126.971960,0.707513,0.700108,101.395845,126.971960,5,"[126.97196006774902, 113.73090744018556, 103.3...",157,Hoping to rebound from their loss to the Patr...,How many more yards was Kris Browns's first fi...,121a8f57-7752-4373-a9ba-748b2c577cd2

In [170]:
df["time_per_token"] = df["time once (ms)"]/df["seq_length"]

KeyError: 'time once (ms)'

In [140]:
print(len(df))
# df.head()
df.tail()

24000

,reader,adapter,model_name,time once (ms),average_time 50 times (ms),seq_length,context,question,data_id,time_per_token
23995,roberta-base,squad_v2,ONNX-OPT Quantized,43.093204,NaN,96,"In 1066, Duke William II of Normandy conquered...",Where did Harold II die?,56de16ca4396321400ee25c5,0.448888
23996,roberta-base,squad_v2,ONNX-OPT Quantized,38.706064,NaN,96,"In 1066, Duke William II of Normandy conquered...",Who killed Harold II?,56de16ca4396321400ee25c6,0.403188
23997,roberta-base,squad_v2,ONNX-OPT Quantized,37.344933,NaN,96,"In 1066, Duke William II of Normandy conquered...",When was the Battle of Hastings?,56de16ca4396321400ee25c7,0.389010
23998,roberta-base,squad_v2,ONNX-OPT Quantized,40.225029,NaN,96,"In 1066, Duke William II of Normandy conquered...",Who was the ruling class ahead of the Normans?,56de16ca4396321400ee25c8,0.419011
23999,roberta-base,squad_v2,ONNX-OPT Quantized,37.925959,NaN,96,"In 1066, Duke William II of Normandy conquered...",When did King Harold II conquer England?,5ad3f4b1604f3c001a3ff951,0.395062

In [141]:
data_id_list = df["data_id"].unique().tolist()
adapter_list = df["adapter"].unique().tolist()
reader_list = df["reader"].unique().tolist()
model_name_list = df["model_name"].unique().tolist()

In [165]:
df_fin = pd.DataFrame(columns=["adapter", "reader", "model_name", "mean_time","median_time", "min_time", "max_time", "mean_time_per_token", "median_time_per_token", "min_time_per_token", "max_time_per_token", "runs", "time_unique_values", "seq_length", "context", "question", "data_id"])
df_overall = pd.DataFrame(columns=["adapter", "reader", "model_name", "mean_time","median_time", "min_time", "max_time", "mean_time_per_token", "median_time_per_token", "min_time_per_token", "max_time_per_token", "runs", "av_seq_length"])

In [167]:
for adapter in adapter_list:
    # print(f"Doing {adapter}")
    df_adapter = df[df["adapter"] == adapter]
    
    for reader in reader_list:
        # print(f"Doing {reader}")
        df_reader = df_adapter[df_adapter["reader"] == reader]
        
        for model_name in model_name_list:
            # print(f"Doing {model_name}")
            df_model = df_reader[df_reader["model_name"]== model_name]

            for data_id in data_id_list:
                df_data_id = df_model[df_model["data_id"] == data_id]
                if df_data_id.empty:
                    continue
                # print(f"Doing {data_id}")
                
                time_unique_values = df_data_id["time once (ms)"].tolist()
                runs = len(time_unique_values)

                mean_time = df_data_id["time once (ms)"].mean()
                median_time = df_data_id["time once (ms)"].median()
                min_time = df_data_id["time once (ms)"].min()
                max_time = df_data_id["time once (ms)"].max()
                
                mean_time_per_token = df_data_id["time_per_token"].mean()
                median_time_per_token = df_data_id["time_per_token"].median()
                min_time_per_token = df_data_id["time once (ms)"].min()
                max_time_per_token = df_data_id["time once (ms)"].max()

                # add question, context. 
                seq_length = df_data_id["seq_length"].unique()[0]
                context = df_data_id["context"].unique()[0]
                question = df_data_id["question"].unique()[0]


                df_fin.loc[len(df_fin)] = [adapter, reader, model_name, mean_time,median_time, min_time, max_time, mean_time_per_token, median_time_per_token, min_time_per_token, max_time_per_token, runs, time_unique_values, seq_length, context, question, data_id]

            

            runs = len(df_model["time once (ms)"].tolist())

            overall_mean_time = df_model["time once (ms)"].mean()
            overall_median_time = df_model["time once (ms)"].median()
            overall_min_time = df_model["time once (ms)"].min()
            overall_max_time = df_model["time once (ms)"].max()

            overall_mean_time_per_token = df_model["time_per_token"].mean()
            overall_median_time_per_token = df_model["time_per_token"].median()
            overall_min_time_per_token = df_model["time once (ms)"].min()
            overall_max_time_per_token = df_model["time once (ms)"].max()
            av_seq_length = df_model["seq_length"].sum()/len(df_model["seq_length"])
            
            df_overall.loc[len(df_fin)] = [adapter, reader, model_name, mean_time, median_time, min_time, max_time, mean_time_per_token, median_time_per_token, min_time_per_token, max_time_per_token, runs, av_seq_length]

In [168]:
df_overall.to_csv(f"inference_time_{skill}_overall.csv")
df_overall.to_excel(f"inference_time_{skill}_overall.xlsx")

In [158]:
df_fin.to_csv(f"inference_time_{skill}_overall.csv")
df_fin.to_excel(f"inference_time_{skill}_overall.xlsx") # drop duplicates - currently manually

### archive

In [43]:
for data_id in df["data_id"]:
    print(len(df))

    rows = df.loc[df["data_id"] == data_id]

    for model_name in df['model_name'].unique():
        
        model = rows[rows["model_name"] == model_name]
        
        try: 
            runs = len(model)

            run_min = model["time once (ms)"].min()
            run_max = model["time once (ms)"].max()
            run_median = model["time once (ms)"].median()

            seq_length = model["seq_length"].values[0]

            min_time_per_token = run_min/seq_length
            max_time_per_token = run_max/seq_length
            median_time_per_token = run_median/seq_length
            
            context = model["context"].values[0]
            question = model["question"].values[0]
        

            df_fin.loc[len(df_fin)] = [model_name, "", run_min, run_max, run_median, runs, seq_length, min_time_per_token, max_time_per_token, median_time_per_token, context, question, data_id]
            
        except Exception as e:
            print("error")
            print(e)
            pass

        break
    break

    
    
    df = df.drop(df.loc[df["data_id"] == data_id].index) #reduce search space

4200

In [44]:
model

,model_name,time once (ms),average_time 50 times (ms),seq_length,context,question,choices,data_id,data_set_name,time_per_token
0,Base,258.271933,NaN,92,Do i need to go for a legal divorce ? I wanted...,Why is this person asking about divorce ?,['If he gets married in the church he wo nt ha...,0,cosmos_qa,2.807304
600,Base,299.651861,NaN,92,Do i need to go for a legal divorce ? I wanted...,Why is this person asking about divorce ?,['If he gets married in the church he wo nt ha...,0,cosmos_qa,3.257085
1200,Base,1240.674257,NaN,310,Candy watched the bearded man drive his silver...,How long was Candy trying to seduce Larry?,"['about 10 minutes', 'about 2 hours', 'not eno...",0,quail,4.002175
1800,Base,1662.490129,NaN,310,Candy watched the bearded man drive his silver...,How long was Candy trying to seduce Larry?,"['about 10 minutes', 'about 2 hours', 'not eno...",0,quail,5.362871
2400,Base,62.294006,NaN,19,"When particles of matter are closer together, ...",If Jim moves some particles of matter farther ...,"['decrease', 'increase']",0,quartz,3.278632
3000,Base,1608.655930,NaN,339,"I am a psychologist. I first met Timothy, a qu...",What did the writer think of Timothy after lea...,"['Timothy was very hardworking.', 'Timothy was...",0,race,4.745298
3600,Base,1163.430929,NaN,339,"I am a psychologist. I first met Timothy, a qu...",What did the writer think of Timothy after lea...,"['Timothy was very hardworking.', 'Timothy was...",0,race,3.431950

In [8]:
df_fin.to_csv("inference_time_categorical.csv")
df_fin.to_excel("inference_time_categorical.xlsx") # drop duplicates - currently manually

In [97]:
print(len(df_fin))

274708

In [100]:
df_droped = df_fin.drop_duplicates()

In [101]:
df_droped.to_csv("analyse4.csv")
df_droped.to_excel("analyse4.xlsx")